@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,800&family=Nerko+One&display=swap');

.fondo {
    font-family: 'Nerko One', cursive;
    font-size: 1.2rem; 
    font-weight: 600;    
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(26,18,249,0.5634628851540616) 67%, rgba(0,212,255,1) 100%);
    padding: 50px;
    height: 90vh;    
    border: 1px solid black;   
}

.fondo h1 {
    color: white;    
    font-size: 3rem;
    text-shadow: 10px 5px 3px rgba(17, 0, 0, 0.945);    
}

.fondo p{
    color: white;
    font-size: 1.9rem;
    text-shadow: 7px 5px 0px rgba(17, 0, 0, 0.945);
}